<div>
    <h1>Profile Form </h1>
    <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
        <div>
          <label for = "id">ID</label>
          <input type = "text" id = "id" [(ngModel)] = "person.ID" name = "id">
       </div>
       <div>
          <label for = "name">Name</label>
          <input type = "text" id = "name" [(ngModel)] = "person.Name" name = "name">
       </div>
       <div>
          <label for = "age">Age</label>
          <input type = "text" id = "age" [(ngModel)] = "person.age" name = "age">
       </div>
       <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <h1>Profile Detail</h1>
    <div>
        <p>ID: {{person.ID}}</p>
        <p>Name: {{person.Name}}</p>
        <p>Age: {{person.age}}</p>
        <p *ngIf="person.age > 30">Status: Old</p>
        <p *ngIf="person.age <= 30">Status: Young</p>
    </div>
</div>